@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css);

.checkbox {
  width: 200px;

font-family: monospace;
  }

.inv {
  display: none;
}

.search {
  color: Gold;

font-size: 16px;

  /* position: absolute; */
}

.download {
  position: absolute;

left: 57rem;

color: Mediumspringgreen;

  }

.search:hover {
  cursor: pointer;

transform: translate(-2px, 3px);

  }
.download:hover {
  cursor: pointer;

transform: translate(-2px, 3px);

  }
.c1 {
  position: absolute;
}

.clear {
  color: Lightsteelblue;
}

.clear:hover {
  cursor: pointer;

transform: translate(-2px, 3px);

  }

.table {
  border-spacing: 0 10px;

font-family: Noto Mono;

  }
.dateOption {
  font-family: Noto Mono;
}

@media (min-width: 1300px) {
  .table {
    border-spacing: 0 11px;
  }
}

@media only screen and (max-width: 1299px) {
  .table {
    border-spacing: 0 10px;
  }
}

.dateFormate {
  padding-right: 20px;

padding-left: 20px;

  }
table th {
  padding-right: 10px;

padding-left: 10px;

height: 30px;

font-size: 16px;

  }

table td {
  font-size: 16px;
}

body {
  background-color: rgb(17, 24, 39);
}

.tableScreen {
  margin-top: 10px;

max-width: 1200px;

max-height: 400px;

  }

@media (min-width: 1300px) {
  .tableScreen {
    max-width: 1750px;

max-height: 750px;

    }
}

input[type='checkbox'] {
  width: 22px;

height: 22px;

text-align: center;

cursor: pointer;

  }

label {
  padding-bottom: 5px;

font-family: Verdana;

cursor: pointer;

  }

#sel0 label {
  margin-left: -5em;

color: Lightseagreen;

  }
#sel1 label {
  margin-left: -5em;

color: Tan;

  }
#sel2 label {
  margin-right: 2em;

margin-left: -5em;

color: Lightsteelblue;

  }
#sel3 label {
  margin-left: -5em;

color: Papayawhip;

  }
