body{
  /* background-image:url('https://upload.cc/i1/2021/08/03/nxh9e0.png') ; */
background-color: rgb(17, 24, 39);
} 

  
  .timer{
    font-size: 20px;
    animation:timer-spin 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 22px;
  }

  
  @keyframes timer-spin{
    from{
      transform: rotate(-20deg);
    }to{
      transform: rotate(20deg);
    }
  }


  .pageBar2{
    text-align: left;
    width: 5rem;
    height: 2rem;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 10px;
    background: linear-gradient(135deg, transparent 0px, #111fdf 0) top left, 
    linear-gradient(-135deg, transparent 15px, #111fdf 0) top right, 
    linear-gradient(-45deg, transparent 15px, #111fdf 0) bottom right, 
    linear-gradient(45deg, transparent 0px, #111fdf 0) bottom left; 
    background-size: 50% 50%; 
    background-repeat: no-repeat;
  }