.break {
    display: flex;
    align-items: center;
    color: #d62828;
    font-size: 25px;
    animation-name: flash;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}

.connected {
    display: none;
    color: #2a9d8f;
    font-size: 25px;
}

.breakLyric {
    padding-left: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #fca311;
}

.connectedLyric {
    padding-left: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #2a9d8f;
}