*,
*:before,
*:after {
    box-sizing: border-box;

margin: 0;

padding: 0;
    }

.demo {
    position: absolute;

position: fixed;

top: 50%;

top: 10;

left: 50%;

z-index: 99999;

margin-top: -70px;

padding: 10px;

width: 500px;

height: 140px;

border-radius: 20px;

transform: translateX(-50%);
    }

.demo__colored-blocks {
    position: absolute;

top: 0;

left: 50%;

z-index: 99999;

overflow: hidden;

margin-left: -250px;

padding: 10px;

width: 500px;

height: 100%;

border-radius: 20px;

-webkit-animation: demoAnim 4s ease-in-out infinite, contAnim 4s infinite;

animation: demoAnim 4s ease-in-out infinite, contAnim 4s infinite;

perspective: 1000px;
    }

.demo__colored-blocks-rotater {
    position: absolute;

top: 0;

left: 0;

z-index: 99999;

width: 100%;

height: 100%;

border-radius: inherit;

-webkit-animation: rotation 0.8s linear infinite;

animation: rotation 0.8s linear infinite;
    }

.demo__colored-blocks-inner {
    position: relative;

z-index: 99999;

overflow: hidden;

height: 100%;

border-radius: inherit;

background: #32386d;
    }

.demo__colored-block {
    position: absolute;

top: 50%;

left: 50%;

z-index: 99999;

width: 300%;

height: 300%;

transform-origin: 0 0;
    }

.demo__colored-block:nth-child(1) {
    z-index: 99999;

background-color: #fd3359;

transform: rotate(0deg) skewX(-30deg);
    }

.demo__colored-block:nth-child(2) {
    z-index: 99999;

background-color: #f4d302;

transform: rotate(120deg) skewX(-30deg);
    }

.demo__colored-block:nth-child(3) {
    z-index: 99999;

background-color: #21bdff;

transform: rotate(240deg) skewX(-30deg);
    }

.demo__inner {
    position: relative;

z-index: 99999;

overflow: hidden;

width: 100%;

height: 100%;
    }

.demo__numbers {
    position: absolute;

top: 50%;

left: 50%;

z-index: 99999;

overflow: visible;

margin-top: -50px;

margin-left: -50px;

width: 100px;

height: 100px;
    }

.demo__numbers-path {
    z-index: 99999;

opacity: 0;

-webkit-animation: numAnim 4s ease-in-out infinite;

animation: numAnim 4s ease-in-out infinite;

fill: none;

stroke-width: 10px;

stroke: #fff;

stroke-linecap: round;

stroke-linejoin: round;

stroke-dasharray: 0, 518.055065155;

stroke-dashoffset: 0;
    }

.demo__text {
    position: absolute;

top: 0;

left: 50%;

z-index: 99999;

margin-left: -250px;

width: 500px;

height: 100%;

color: #fff;

text-align: center;

text-transform: uppercase;

letter-spacing: 15px;

font-size: 100px;

line-height: 140px;

transform: translateX(10px);

-webkit-animation: hideText 4s infinite;

animation: hideText 4s infinite;
    }

@-webkit-keyframes contAnim {
    15%,
    100% {
        margin-left: -250px;

width: 500px;
        }
    25%,
    90% {
        margin-left: -70px;

width: 140px;
        }
}

@keyframes contAnim {
    15%,
    100% {
        margin-left: -250px;

width: 500px;
        }
    25%,
    90% {
        margin-left: -70px;

width: 140px;
        }
}

@-webkit-keyframes numAnim {
    15% {
        opacity: 0;

stroke-dasharray: 0, 518.055065155;

stroke-dashoffset: 0;
        }
    25%,
    41% {
        opacity: 1;

stroke-dasharray: 144.4256591797, 518.055065155;

stroke-dashoffset: -40;
        }
    53%,
    66% {
        stroke-dasharray: 136.0216217041, 518.055065155;

stroke-dashoffset: -227.238697052;
        }
    76% {
        stroke-dasharray: 113.4751205444, 518.055065155;

stroke-dashoffset: -445.8995704651;
        }
    88%,
    100% {
        stroke-dasharray: 72.1554946899, 518.055065155;

stroke-dashoffset: -445.8995704651;
        }
    92% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes numAnim {
    15% {
        opacity: 0;

stroke-dasharray: 0, 518.055065155;

stroke-dashoffset: 0;
        }
    25%,
    41% {
        opacity: 1;

stroke-dasharray: 144.4256591797, 518.055065155;

stroke-dashoffset: -40;
        }
    53%,
    66% {
        stroke-dasharray: 136.0216217041, 518.055065155;

stroke-dashoffset: -227.238697052;
        }
    76% {
        stroke-dasharray: 113.4751205444, 518.055065155;

stroke-dashoffset: -445.8995704651;
        }
    88%,
    100% {
        stroke-dasharray: 72.1554946899, 518.055065155;

stroke-dashoffset: -445.8995704651;
        }
    92% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes demoAnim {
    15% {
        border-radius: 20px;

transform: rotate(0);
        }
    30%,
    43% {
        border-radius: 50%;

transform: rotate(360deg);
        }
    52%,
    65% {
        border-radius: 0;

transform: rotate(720deg);
        }
    78%,
    90% {
        border-radius: 50%;

transform: rotate(1080deg);
        }
    100% {
        border-radius: 20px;

transform: rotate(1440deg);
        }
}

@keyframes demoAnim {
    15% {
        border-radius: 20px;

transform: rotate(0);
        }
    30%,
    43% {
        border-radius: 50%;

transform: rotate(360deg);
        }
    52%,
    65% {
        border-radius: 0;

transform: rotate(720deg);
        }
    78%,
    90% {
        border-radius: 50%;

transform: rotate(1080deg);
        }
    100% {
        border-radius: 20px;

transform: rotate(1440deg);
        }
}

@-webkit-keyframes hideText {
    15%,
    100% {
        opacity: 1;
    }
    20%,
    96% {
        opacity: 0;
    }
}

@keyframes hideText {
    15%,
    100% {
        opacity: 1;
    }
    20%,
    96% {
        opacity: 0;
    }
}

.loading {
    position: absolute;

/* position: fixed; */
    top: 50%;

left: 50%;

z-index: 99999;

width: 180px;

height: 180px;

border: 8px solid #02c39a;

border-right: 7px solid #f8eaa6;

border-bottom: 7px solid #c8e7ff;

border-radius: 50%;

/* background-color: #f0f3bd; */
    background-color: rgb(17, 24, 39);

text-align: center;

font-size: 24px;

/* transform: translateX(-50%); */
    -webkit-animation: loading 0.7s infinite linear;

-moz-animation: loading 0.7s infinite linear;

-o-animation: loading 0.7s infinite linear;

animation: loading 0.7s infinite linear;
    }

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes loading {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes loading {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.word {
    position: absolute;

position: absolute;

top: 50%;

left: 50%;

z-index: 99999;

margin-left: 30px;

color: #f0f3bd;

text-align: center;

font-size: 30px;

font-family: monospace;

line-height: 180px;
    }