@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css);
body {
    background-color: rgb(17, 24, 39);
}

.title {
    font-size: 20px;
    color: #ffffff;
    margin-left: 4px;
}

.logo {
    width: 26px;
}

.value {
    width: 130px;
    padding: 0 10px 0 10px;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 2px;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    background-color: black;
}

.divide {
    height: 1px;
    background-color: #e5e5e5;
    box-shadow: 0px 0px 1px;
    opacity: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search {
    color: Gold;
    font-size: 45px;
}

.download {
    color: Gold;
    font-size: 45px;
}

.search:hover {
    cursor: pointer;
    transform: translate(-2px, 3px);
}

.download:hover {
    cursor: pointer;
    transform: translate(-2px, 3px);
}

iframe {
    width: 58px;
    height: 96px;
}

.n-icon {
    background-color: #ffafcc;
    border-radius: 50%;
    width: 32px;
}

.p-icon {
    background-color: #bc6c25;
    border-radius: 50%;
    width: 32px;
}

.table {
    border-spacing: 0 10px;
    font-family: Noto Mono;
}

.dateOption {
    font-family: Noto Mono;
}

@media (min-width: 1300px) {
    .table {
        border-spacing: 0 16px;
    }
}

@media only screen and (max-width: 1299px) {
    .table {
        border-spacing: 0 10px;
    }
}

table td {
    font-size: 16px;
}

table th {
    font-size: 16px;
    width: 180px;
}

.table tr {
    border-radius: 20px;
}

tr td:nth-child(n + 8),
tr th:nth-child(n + 8) {
    border-radius: 0 0.625rem 0.625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
    border-radius: 0.625rem 0 0 0.625rem;
}