@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css);
body {
    background-color: rgb(17, 24, 39);
}

.title {
    font-size: 20px;
    color: #ffffff;
    margin-left: 4px;
}

.logo {
    width: 26px;
}

.value {
    width: 130px;
    padding: 0 10px 0 10px;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 2px;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    background-color: black;
}

.wrapper {
    width: 24rem;
    height: 16rem;
}

.n-icon {
    background-color: #e07a5f;
    border-radius: 50%;
    width: 25px;
}

.p-icon {
    background-color: #81b29a;
    border-radius: 50%;
    width: 25px;
}

.table {
    border-spacing: 0 10px;
    font-family: Noto Mono;
}

.dateOption {
    font-family: Noto Mono;
}

@media (min-width: 1300px) {
    .table {
        border-spacing: 0 16px;
    }
}

@media only screen and (max-width: 1299px) {
    .table {
        border-spacing: 0 10px;
    }
}

table td {
    font-size: 16px;
}

table th {
    font-size: 16px;
    width: 180px;
}

.table tr {
    border-radius: 20px;
}

tr td:nth-child(n + 8),
tr th:nth-child(n + 8) {
    border-radius: 0 0.625rem 0.625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
    border-radius: 0.625rem 0 0 0.625rem;
}

#search,
.download,
.clear {
    width: 30px;
    cursor: pointer;
}

#search:hover,
.download:hover,
.clear:hover {
    transform: translate(-2px, 3px);
}

.mqttValue {
    font-size: 32px;
    letter-spacing: 1.5px;
}