@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css);
.table {
    border-spacing: 0 10px;
    font-family: Noto Mono;
}

.dateOption {
    font-family: Noto Mono;
}

@media (min-width: 1300px) {
    .table {
        border-spacing: 0 16px;
    }
}

@media only screen and (max-width: 1299px) {
    .table {
        border-spacing: 0 10px;
    }
}

table th {
    width: 160px;
}

table td {
    font-size: 16px;
}

.table tr {
    border-radius: 20px;
}

tr td:nth-child(n + 2),
tr th:nth-child(n + 2) {
    border-radius: 0 0.625rem 0.625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
    border-radius: 0.625rem 0 0 0.625rem;
}


/* 以下是新的 */

body {
    background-color: rgb(17, 24, 39);
}

.unblock {
    color: red;
    font-size: 24px;
}

@keyframes timer-spin {
    from {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(180deg);
    }
}

#search,
.download,
.clear {
    width: 34px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #201f1f;
}

#search:hover,
.download:hover,
.clear:hover {
    transform: translate(-2px, 3px);
}

.mqttvalue {
    font-size: 3rem;
}

.wrapper {
    width: 25rem;
    height: 17rem;
}

.logo {
    animation: logo-spin infinite 2.5s alternate;
}

@keyframes logo-spin {
    from {
        transform: rotate(-20deg);
    }
    to {
        transform: rotate(20deg);
    }
}

form input {
    height: 2.2rem;
    box-shadow: 4px 4px 2px rgb(98, 98, 98);
}